{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
Thank you
{% endblock %}
{% block content %}
<br>
<div class="card" style="float: center;">
  <div class="card-body" style="float: center;">
    <p class="card-text">
        <h1 class="sus" style="color: #eb842d;">{% trans 'Thank you' %}</h1>
        <p class="sus">{% trans 'Your order has been successfully completed. Your order number is' %}
    <strong>{{ order.id }}</strong>.</p>
    </p>
    
  </div>
</div> <br>
<hr>
    <h4 style="text-decoration: underline; text-align: center;" class="sus"> {% trans 'Scan QR Code if you want to make another order' %} </h4>
    <img src="{% static 'img/qr.jpg' %}" height="300" width="380"/>


{% endblock %}