{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
Your Order
{% endblock %}
{% block content %}
<h4 style="text-align: center; text-decoration: underline; font-family: 'Cairo', sans-serif;">{% trans 'Confirm Your Order' %}</h4><br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">{% trans 'Item' %}</th>
      <th scope="col">{% trans 'Quantity' %}</th>
      <th scope="col">{% trans 'Price' %}</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for item in cart %}
    {% with product=item.item %}
    <tr>
      <td scope="row">{{ item.quantity }}x{{ product.name }}</td>
      <td>
                <form action="{% url "cart:cart_add" product.id %}" method="post">{{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.update }}
                <button class="btn" type="submit" style="color: white; background-color: #eb842d;">{% trans 'Update' %}</button>
                {% csrf_token %}
                </form>
        </td>
      <td>{{ item.total_price }}</td>
      <td><a href="{% url "cart:cart_remove" product.id %}" style="color: red;">X</a></td>
    </tr>
    {% endwith %}
  {% endfor %}
  <tr>
      <th scope="col">{% trans 'Total' %}</th>
      <th scope="col"></th>
      <th scope="col">{{ cart.get_total_price }} SDG</th>
      <th scope="col"></th>
    </tr>
    </tbody>
</table>
<br>
<a href="{% url "shop:item_list" %}" style="float:left;"><button type="button" class="btn" style="color: white; background-color: #282322;">{% trans 'Back to Menu' %} </button></a>
{% if cart|length > 0 %}
<a href="{% url "orders:create_order" %}" style="float:right;"><button type="button" class="btn" style="color: white; background-color: #eb842d;">{% trans 'Confirm' %}</button></a>
{% endif %}
<br><br>
{% endblock %}