@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;700&display=swap');
.btn, .page-item, .table {
    font-family: 'Cairo', sans-serif;
}
.table {
    text-align: left;
    direction: rtl;
}
h4 {
    font-family: 'Cairo', sans-serif;
}

.selected {
    direction: ltr;
    font-family: 'Cairo', sans-serif;
}