@import url('cairo.css');
.btn, .page-item, .table {
    font-family: 'Cairo', sans-serif;
}
.table {
    text-align: left;
    direction: rtl;
}
h4 {
    font-family: 'Cairo', sans-serif;
}

.selected {
    direction: ltr;
    font-family: 'Cairo', sans-serif;
}

.sus {
    direction: rtl;
    font-family: 'Cairo', sans-serif;
    text-align: right;
}